<!DOCTYPE html>
<html>
  <head>
    <title>Chato</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= nav_bar fixed: :top, brand: 'Chato' do %>
      <%= menu_group do %>
        <% if user_signed_in? %>
          <%= menu_item 'Users', users_path %>
          <%= drop_down current_user.email do %>
            <%= menu_item 'Logout', destroy_user_session_path, method: :delete %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
